--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.1.2+cu121
transformers==4.40.1
datasets==3.6.0
scikit-learn
fastapi
uvicorn
pydantic
python-dotenv
datasets==3.6.0
sentencepiece==0.1.99
protobuf==4.25.3