--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.1.2+cu121
transformers==4.40.1
accelerate>=0.21.0
datasets==3.6.0
sentencepiece==0.1.99
protobuf==4.25.3
scikit-learn
fastapi
uvicorn
pydantic
python-dotenv
requests
nltk==3.9.1
termcolor==3.1.0

# Tuning e DB
Mako==1.3.10
alembic==1.15.2
colorlog==6.9.0
greenlet==3.2.2
optuna==4.3.0
sqlalchemy==2.0.40

# Visualizzazione e statistica
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.0
kiwisolver==1.4.8
matplotlib==3.10.3
pyparsing==3.2.3
seaborn==0.13.2
numpy<2.0
